.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
  color: #ffffff;
}


@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}