.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  background: transparent url(../../../images/icons/Close\ Icon.svg);
  border: none;
  transition: 0.3 ease;
}

.popup__close:hover {
  opacity: 0.6;
}