.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  cursor: pointer;
  background: transparent url(../../../images/icons/close_icon.svg);
  border: none;
  transition: 0.3s ease;
}

.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 720px) {
  .popup__close {
    top: -36px;
    right: -36px;
  }
}

@media screen and (max-width: 600px) {
  .popup__close {
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent url(../../../images/icons/close_icon_mobile.svg) center no-repeat;
  }
}