.profile__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 282px;
  max-width: 470px;
  margin-right: 30px;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: 579px;
    margin: 0 0 33px 0;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    max-width: 280px;
  }
}